body{
    background-color: goldenrod;
    background-image: url(./assets/Premium\ Vector\ _\ Full\ moon\ and\ stars\ over\ mountain\ peaks.jpg);
    background-size: 100vw;

}

.general_container{
}
h1{
    color: goldenrod;
}