body{
    background-color: goldenrod;
    background-image: url(./assets/IMG_1170.jpg);
   background-size: 105vw 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
    /* font-size: 24px; */
}

.general_container{
    align-items: center;
    text-align: center;
}

i{
    color: white;
}
h2{
    color: white;
}

p{
    font-weight: bolder;
    color: greenyellow;
}

label{
    font-weight: bold;
    color: yellow;
}

hr{
    width: 75vw;
}


h1{
    color: white;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    border: transparent;
    border-bottom: 0.5px solid brown;
    background-color: transparent;
    color: white;
    font-weight: 700;
}

button{
    cursor: pointer;
    background-color: goldenrod;
    border-radius: 5px;
    border-color: transparent;
    color: whitesmoke;
}

.input3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 20px;
    cursor: pointer;
}